{% extends 'base.html.twig' %}

{% block body %}

    <div class="container mt-4">

        <h1>Editer les Users</h1>
        {{ form_start(form) }}
            <div class="col-md-4"> {{ form_row(form.mail) }} </div>
            <div class="col-md-4"> {{ form_row(form.username) }} </div>
            <div class="col-md-4"> {{ form_row(form.password) }} </div>
            {{ form_widget(form)}}
            <button class="btn btn-primary"> Editer </button>
        {{ form_end(form) }}


    </div>
{% endblock %}