{% extends 'base.html.twig' %}

{% block title %} {{ cyclist.firstName }} {{ cyclist.lastName }}{% endblock %}

{% block body %}
    <div class="container mt-4">

        <h1 class="mt-5">{{ cyclist.firstName }} {{ cyclist.lastName }}</h1>

        <div>
            <span class="font-weight-bold">Team</span> : {{ team.name }}
        </div>
        <div>
            <span class="font-weight-bold">Nationalité</span> : {{ nation.name }}
        </div>
        <div class="panel-stat-pcm col-md-4">
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-6">PLA</div>
                                <div class="col-md-6 {% if cyclist.characIPlain > 79 %}more80{% endif %} {% if cyclist.characIPlain > 69 and cyclist.characIPlain < 80 %}more70{% endif %}
">{{ cyclist.characIPlain }}</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-6">PAV</div>
                                <div class="col-md-6 {% if cyclist.characICobble > 79 %}more80{% endif %} {% if cyclist.characICobble > 69 and cyclist.characICobble < 80 %}more70{% endif %}
">{{ cyclist.characICobble }}</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-6">BAR</div>
                                <div class="col-md-6 {% if cyclist.characIBaroudeur > 79 %}more80{% endif %} {% if cyclist.characIBaroudeur > 69 and cyclist.characIBaroudeur < 80 %}more70{% endif %}
">{{ cyclist.characIBaroudeur }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-6">MON</div>
                                <div class="col-md-6 {% if cyclist.characIMountain> 79 %}more80{% endif %} {% if cyclist.characIMountain > 69 and cyclist.characIMountain < 80 %}more70{% endif %}
">{{ cyclist.characIMountain }}</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-6">SPR</div>
                                <div class="col-md-6 {% if cyclist.characISprint> 79 %}more80{% endif %} {% if cyclist.characISprint > 69 and cyclist.characISprint < 80 %}more70{% endif %}
">{{ cyclist.characISprint }}</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-6">END</div>
                                <div class="col-md-6 {% if cyclist.characIEndurance> 79 %}more80{% endif %} {% if cyclist.characIEndurance > 69 and cyclist.characIEndurance < 80 %}more70{% endif %}
">{{ cyclist.characIEndurance }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-6">VAL</div>
                                <div class="col-md-6 {% if cyclist.characIHill > 79 %}more80{% endif %} {% if cyclist.characIHill > 69 and cyclist.characIHill < 80 %}more70{% endif %}
">{{ cyclist.characIHill }}</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-6">ACC</div>
                                <div class="col-md-6 {% if cyclist.characIAcceleration > 79 %}more80{% endif %} {% if cyclist.characIAcceleration > 69 and cyclist.characIAcceleration < 80 %}more70{% endif %}
">{{ cyclist.characIAcceleration }}</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-6">RES</div>
                                <div class="col-md-6 {% if cyclist.characIResistance > 79 %}more80{% endif %} {% if cyclist.characIResistance > 69 and cyclist.characIResistance < 80 %}more70{% endif %}
">{{ cyclist.characIResistance }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-6">CLM</div>
                                <div class="col-md-6 {% if cyclist.characITimetrial > 79 %}more80{% endif %} {% if cyclist.characITimetrial > 69 and cyclist.characITimetrial < 80 %}more70{% endif %}
">{{ cyclist.characITimetrial }}</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-6">DES</div>
                                <div class="col-md-6 {% if cyclist.characIDownhilling > 79 %}more80{% endif %} {% if cyclist.characIDownhilling > 69 and cyclist.characIDownhilling < 80 %}more70{% endif %}
">{{ cyclist.characIDownhilling }}</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-6">REC</div>
                                <div class="col-md-6 {% if cyclist.characIRecuperation > 79 %}more80{% endif %} {% if cyclist.characIRecuperation > 69 and cyclist.characIRecuperation < 80 %}more70{% endif %}
">{{ cyclist.characIRecuperation }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div>
{% endblock %}
