{% extends 'base.html.twig' %}

{% block title %}Draw {{ draw.id }}{% endblock %}

{% block body %}
    <div class="container mt-4">

        <h1 class="mt-5">Draw n°{{ draw.id }} : {{ draw.name }}</h1>


        <div>{{ draw.name  }}</div>

        <br>
        <div> Date Tirage : {{ draw.dateDraw | date("d/m/Y - H:i:s") }}</div>
        {% if owner is defined and owner  %}
            <div> Code partage: {{ draw.shareCode }}</div>
        {% endif %}


        <h2>Liste des participants </h2>
        <div class="">
            <ul class="list-group">

                {% for parti in participants %}
                    <tr>
                        <li class="list-group-item"> {{ parti.user.username}} </li>
                    </tr>
                {% endfor %}
            </ul>
        </div>


        <h2>Liste des choix </h2>
        <div class="">
            <ul class="list-group">

                {% for choice in choices %}
                    <tr>
                        <li class="list-group-item"> {{ choice.text}} {% if choice.participant %} - {{ choice.participant.user.username }} {% endif  %} </li>
                    </tr>
                {% endfor %}
            </ul>
        </div>

        {% if draw.finished == false and owner is defined and owner %}<a class="btn btn-primary" href="{{ path ('draw.execute', {'id' : draw.id})}}">Exécuter le tirage</a>{% endif  %}

    </div>
{% endblock %}
