{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid mt-5">

        <h1>Liste des tirages au sort    </h1>
            <div>
                <b>Mes draws créés : </b>
                <ul class="list-group col-md-6">
                    {% for draw in drawsOwner %}
                            <tr>
                                <li class="list-group-item">
                                    {{ draw.id }} - {{draw.name}} <a href="{{path('draw.id',{id: draw.id})}}">Voir</a>
                                    <div id="status" class="float-right">
                                        {%  if draw.finished %}<span class="badge badge-danger">Terminé</span>{% endif  %}
                                        {%  if draw.finished == false %}<span class="badge badge-success">En cours</span>{% endif  %}
                                    </div>
                                </li>
                            </tr>
                    {% endfor %}
                </ul>
            </div>

            <div class="mt-5">
                <b>Draws que j'ai rejoint :</b>
                <ul class="list-group">
                    {% for draw in drawsOther %}
                        <tr>
                            <li class="list-group-item">{{ draw.id }} - {{draw.name}} <a href="{{path('draw.id',{id: draw.id})}}">Voir</a> </li>
                        </tr>
                    {% endfor %}
                </ul>
            </div>

    </div>

{% endblock %}