<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
            <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">

            <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
            <link rel="stylesheet" href="{{ asset('css/overwrite.css') }}">
            <link rel="stylesheet" href="{{ asset('css/login-register.css') }}">
            <link rel="stylesheet" href="{{ asset('css/tagsinput.css') }}">
            <link rel="stylesheet" href="{{ asset('css/jquery.datetimepicker.min.css') }}">



        {% endblock %}

    </head>
    <body>
        <header>

            !-- Navigation -->
            <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
                <div class="container">
                    <a class="navbar-brand" href="{{ path('home') }}"><img src="{{ asset('images/logo.png') }}" /></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarResponsive">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="{{ path('home') }}">Home
                                    <span class="sr-only">(current)</span>
                                </a>
                            </li>
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('draws') }}">Mes draws</a>
                            </li>
                            {% endif %}
                            <li class="nav-item">
                                <a class="nav-link" href="#">About</a>
                            </li>
                            <li class="nav-item">
                                {% if app.user %}
                                    <a class="nav-link" href="{{ path('app_logout') }}">Se déconnecter</a>
                                {% else %}
                                    <!-- <a class="nav-link" href="{{ path('login') }}">Se Connecter</a> -->
                                    <a class="nav-link" onclick="openLoginModal()">Se Connecter</a>
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

    <div class="modal fade login" id="loginModal">
        <div class="modal-dialog login animated">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Login with</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                </div>
                <div class="modal-body">
                    <div class="box">
                        <div class="content">
                            <!-- TODO

                            <div class="social">
                                <a class="circle github" href="#">
                                    <i class="fa fa-github fa-fw"></i>
                                </a>
                                <a id="google_login" class="circle google" href="#">
                                    <i class="fa fa-google-plus fa-fw"></i>
                                </a>
                                <a id="facebook_login" class="circle facebook" href="#">
                                    <i class="fa fa-facebook fa-fw"></i>
                                </a>
                            </div>
                            <div class="division">
                                <div class="line l"></div>
                                <span>or</span>
                                <div class="line r"></div>
                            </div>
                            <!-->
                            <div class="error"></div>
                            <div class="form loginBox">
                                <form method="post" action="{{path('app_login')}}" accept-charset="UTF-8">
                                    <input id="inputUsername" class="form-control" type="text" placeholder="Username" name="username">
                                    <input id="inputPassword" class="form-control" type="password" placeholder="Password" name="password">
                                    <input type="hidden" name="_csrf_token"
                                           value="{{ csrf_token('authenticate') }}"
                                    >
                                    <input class="btn btn-default btn-login" type="submit">
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <div class="content registerBox" style="display:none;">
                            <div class="form">
                                <form method="POST" name="register"  data-remote="true" action="{{path('app_register')}}" accept-charset="UTF-8">
                                    <input id="username" class="form-control" type="text" placeholder="Username" name="username">
                                    <input id="mail" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required class="form-control" type="text" placeholder="Email" name="mail">
                                    <input id="password" class="form-control" type="password" placeholder="Password" name="password">
                                    <input id="password_confirmation" onkeyup="checkPassword()" class="form-control" type="password" placeholder="Repeat Password" name="password_confirmation">
                                    <input type="hidden" id="register__token" name="register[_token]" value="{{ csrf_token('register') }}">
                                    <input class="btn btn-default btn-register" type="submit" name="commit">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="forgot login-footer">
                                <span>Looking to
                                     <a href="javascript: showRegisterForm();">create an account</a>
                                ?</span>
                    </div>
                    <div class="forgot register-footer" style="display:none">
                        <span>Already have an account?</span>
                        <a href="javascript: showLoginForm();">Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="container mt-5">

        {% block body %}
        {% endblock %}
    </div>

        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.4.1.min.js" ></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
            <script src="{{ asset('js/login-register.js') }}" type="text/javascript"></script>
            <script src="{{ asset('js/tagsinput.js') }}" type="text/javascript"></script>
            <script src="{{ asset('js/jquery.datetimepicker.full.min.js') }}" type="text/javascript"></script>


        {% endblock %}
    </body>
</html>