{% extends 'base.html.twig' %}

{% block title %}Rank {{ rank.id }}{% endblock %}

{% block body %}




    <div class="container mt-4">

        <h1 class="mt-5">Rank n°{{ rank.id }} : {{ rank.name }}</h1>


        <div>{{ rank.name  }}

            {% if owner is defined and owner %}
                <div class="m-2 float-right">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addChoice">
                        Ajouter un choix
                    </button>
                </div>

            {% endif %}
        </div>

        <br>

        <h2>Liste des choix </h2>



        <div class="">
            <ul class="list-group">

                {% for choice in choices %}
                    <tr>
                        <li class="list-group-item"> {{ choice.text}}  </li>
                    </tr>
                {% endfor %}
            </ul>
        </div>

        {% if rank.finished == false and owner is defined and owner %}<a class="btn btn-primary" href="{{ path ('rank.execute', {'id' : rank.id})}}">Exécuter le tirage</a>{% endif  %}

        <h2>Classement en cours </h2>
        <div class="">
            <ul class="list-group">

                {% for place in places %}
                    <tr>
                        <li class="list-group-item">{{ place.place }} : {{ place.text}}  </li>
                    </tr>
                {% endfor %}
            </ul>
        </div>


    </div>




    <!-- Modal -->
    <div class="modal fade" id="addChoice" tabindex="-1" role="dialog" aria-labelledby="addChoice" aria-hidden="true">
        {{ form_start(form, {'action': path('rank.addChoice', { 'id': rank.id })}) }}

        <div class="modal-dialog" role="document">

            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ajouter un choix à la liste</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        Close
                    </button>
                </div>
                <div class="modal-body">
                    {{ form_rest(form)}}

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </div>

        </div>
        {{ form_end(form) }}

    </div>
{% endblock %}
